.top{
    width: 60%;
    margin: 0 auto;
    height: 180px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: white;
    
}
.top h4{
    text-align: center;
    line-height: 180px;
    font-size: 25px;

}
.box{
    display: none;
}
.seats{
    width: 100%;
    margin: 0 auto;
    display: flex;
    /* justify-content: flex-start; */
    /* width: 50%; */
    background-color: rgb(255, 255, 255);
}
.label{
    width: 50%;
    
}
.label svg{
color:#304A57;
font-size: 10px; 
margin-right: 10px;
}
.first-row{
    width: 15%;
}
.second-row{
    width: 15%;
}
.third-row{
    width: 15%;
}
.forth-row{
    width: 15%;
}
.row-container{
    display: flex;
  justify-content: center;
    padding: 0;
}
.seats_book{
    width: 90px;
    height: 40px;
    background-color: #304A57;
    color: aliceblue;
    top: 80%;
    position: absolute;
    left: 85%;
    font-size: 25px;
    cursor: pointer;
}